@import "https://cdn.jsdelivr.net/npm/select2@latest/dist/css/select2.min.css";
@import "https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/latest/legacy/ol.css";
@import "https://ignf.github.io/geoportal-extensions/openlayers-latest/dist/GpPluginOpenLayers.css";

/*------------------------------------- GLOBAL -------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	width: 95%;
	max-width: 95%;
	margin: 1em auto auto auto;
	font: 1em/1.5 Arial, Helvetica, sans-serif
}

#choix {
	max-width: 100%;
}

button {
	font-size: 15px;
	margin: 2px;
}

#boutons_obs {
	margin: 5px;
}

#boutons_obs a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*------------------------------------- CARTE -------------------------------------*/
#map {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#details {
	background-color: #e3e3e363;
	border-radius: 15px;
	position:absolute;
	width: 50%;
	z-index:100;    
	text-align: center;
	top: .5em;
	left: 25vw;
}

.wikilink {
	position:absolute;
	top: 65px;
    left: 8px;
	cursor: pointer;
	text-decoration: none;
}

.forumlink {
	position:absolute;
	top: 100px;
    left: 8px;
	cursor: pointer;
	text-decoration: none;
}

#observation {
	padding-left: 10px;
}

#load {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#load img {
	opacity: 0.1;
}

#loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 10px solid #e9e9ed;
	border-radius: 50%;
	border-top: 10px solid #6590b9;
	width: 100px;
	height: 100px;
	animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
	100% {
		transform: rotate(360deg);
	}
}

/*------------------------------------- COPYRIGHT -------------------------------------*/
#copy {
	position: absolute;
	padding: 2px;
	color: #666666;
	padding: 1em;
	text-shadow: 0 0 2px white;
	font-size: 12px;
	text-align: right;
	bottom: auto;
}

.ol-attribution ul {
	text-align: center;
	padding: 2px;
	color: #666666;
}

.copyright {
    padding: 2px;
	/* width: 20%; */
}

/*------------------------------------- AUTRES CARTES -------------------------------------*/
.header {
	width: 95%;
	text-align: center;
	position: fixed !important;
	position: absolute; /* IE10 */
	z-index: 100;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	vertical-align: middle;
	
}

.column {
	position:relative;
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
	max-width: 50%;
}

.column img {
	/* margin-top: 1em; */
	vertical-align: middle;
	max-width: 100%;
}

.ffmap {
	max-width: inherit;
	border: 2px solid black;
	background-image: url(https://cartes.cigalesdefrance.fr/ASSETS/fond.jpg); 
	background-size: 100% 100%;
}

.gbif {
	border: 2px solid black;
}

@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	
	[id^="GPsearchEngine-"] {
		top: 100px;
		left: 8px;
	}
	
	div[id^=GPlayerSwitcher-] {
		top: 100px;
	}
	
	div[id^="GPmousePosition-"] {
		bottom: 100px;
	}
	
	.wikilink {
		top: 8px;
		left: 50px;
	}
	
	.forumlink {
		top: 43px;
		left: 50px;
	}
}