@import "https://cdn.jsdelivr.net/npm/select2@latest/dist/css/select2.min.css";
@import "https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/latest/legacy/ol.css";
@import "https://ignf.github.io/geoportal-extensions/openlayers-latest/dist/GpPluginOpenLayers.css";

/* GLOBAL */
* {
	box-sizing: border-box;
}

body {
	width: 90%;
	max-width: 90%;
	margin: 1em auto;
	font: 1em/1.5 Arial, Helvetica, sans-serif
}

h2 {
	color: white;
	text-shadow: 0 0 2px #000000;	
}

#choix {
	width: 75%;
}

#boutons_obs, #carte_interactive {
	margin: 5px;
}

#boutons_obs a, #carte_interactive a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/* CARTE */
#map {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#details {
	background-color: #e3e3e363;
	border-radius: 15px;
	position:absolute;
	width: 50%;
	z-index:100;    
	text-align: center;
	top: .5em;
	left: 25vw;
}

/* COPYRIGHT */
#copy {
	position: absolute;
	padding: 2px;
	color: #666666;
	margin: 0;
	text-shadow: 0 0 2px white;
	font-size: 12px;
	text-align: right;
	bottom: 1em;
	right: 1em;
	max-width: 100%;
}

.ol-attribution ul {
	text-align: center;
	padding: 2px;
	color: #666666;
}

.copyright {
    padding: 2px;
	width: 20%;
	
}

/* AUTRES CARTES */
.header {
	width: 100%;
	text-align: center;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

.column {
	position:relative;
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
	max-width: 50%;
}

.column img {
	margin-top: 3em;
	vertical-align: middle;
	max-width: 100%;
}

.ffmap {
	position:absolute;
}

@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}